.card {
    height: 140px;
    width: 32%;
    background: #E7F6FD;
    color: #108CEE;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 1%;
    font-size: 12px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

@media screen and (min-width:1400px) {
    .card {
        width: 300px;
        margin-right: 18px;
    }
}

@media screen and (max-width:1000px) {
    .card {
        width: 300px;
        margin-right: 18px;
    }
}

.card p {
    font-size: 12px;
}

.card span {
    padding: 40px 0 10px;
    font-size: 28px;
    display: block;
}

.card:hover {
    color: #fff;
}