<!DOCTYPE html>
<html lang="utf-8">

<head>
    <meta charset="utf-8">
    <title><%= '<' + '%-title%' + '>' %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="baidu-site-verification" content="5zuPvqPyLk" />
    <meta name="keywords" content="百度云计算、百度公有云、百度应用引擎BAE、云服务器、云主机、云数据库、CDN、云存储、云磁盘、Mapreduce、大数据分析" />
    <meta name="description" content="百度云是百度基于17年技术积累提供的稳定、高可用、可扩展的云计算服务。云服务器、BAE提供多种建站配置，云存储、CDN、视频转码为在线教育及视频网站提供一站式解决方案。更有云数据库，MapReduce等多种云端服务，7*24小时技术支持，免费备案" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <%= htmlWebpackPlugin.options.includes[htmlWebpackPlugin.options.client + '.html'] %>
    <style>
        html, body {
            -ms-touch-action: none;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
</head>

<body>
<div class="container">
    <div><%= '<' + '%-html%' + '>' %></div>
</div>
<script>window.__INITIAL_STATE__ = <%= '<' + '%-initialState%' + '>' %>;</script>
</body>
</html>
