
.icon-ic_accessibility_24px:before {
  content: "\e916";
}
.icon-ic_account_balance_24px:before {
  content: "\e917";
}
.icon-ic_account_circle_24px:before {
  content: "\e918";
}
.icon-ic_android_24px:before {
  content: "\e919";
}
.icon-ic_announcement_24px:before {
  content: "\e91a";
}
.icon-ic_assignment_24px:before {
  content: "\e91b";
}
.icon-ic_assignment_ind_24px:before {
  content: "\e91c";
}
.icon-ic_assignment_returned_24px:before {
  content: "\e91d";
}
.icon-ic_assignment_turned_in_24px:before {
  content: "\e91e";
}
.icon-ic_autorenew_24px:before {
  content: "\e91f";
}
.icon-ic_build_24px:before {
  content: "\e920";
}
.icon-ic_cached_24px:before {
  content: "\e921";
}
.icon-ic_card_giftcard_24px:before {
  content: "\e922";
}
.icon-ic_card_membership_24px:before {
  content: "\e923";
}
.icon-ic_card_travel_24px:before {
  content: "\e924";
}
.icon-ic_check_circle_24px:before {
  content: "\e925";
}
.icon-ic_chrome_reader_mode_24px:before {
  content: "\e926";
}
.icon-ic_done_24px:before {
  content: "\e927";
}
.icon-ic_eject_24px:before {
  content: "\e928";
}
.icon-ic_event_seat_24px:before {
  content: "\e929";
}
.icon-ic_favorite_24px:before {
  content: "\e92a";
}
.icon-ic_favorite_border_24px:before {
  content: "\e92b";
}
.icon-ic_featured_video_24px:before {
  content: "\e92c";
}
.icon-ic_home_24px:before {
  content: "\e92d";
}
.icon-ic_language_24px:before {
  content: "\e92e";
}
.icon-ic_perm_identity_24px:before {
  content: "\e92f";
}
.icon-ic_redeem_24px:before {
  content: "\e930";
}
.icon-ic_room_24px:before {
  content: "\e931";
}
.icon-ic_search_24px:before {
  content: "\e932";
}
.icon-ic_settings_24px:before {
  content: "\e933";
}
.icon-ic_thumb_down_24px:before {
  content: "\e934";
}
.icon-ic_thumb_up_24px:before {
  content: "\e935";
}
.icon-delete2:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-gongdan:before {
  content: "\e904";
}
.icon-down2:before {
  content: "\e905";
}
.icon-add2:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-viz:before {
  content: "\e908";
}
.icon-refresh:before {
  content: "\e909";
}
.icon-iotmanager:before {
  content: "\e90a";
}
.icon-iothub:before {
  content: "\e90b";
}
.icon-iotjiexi:before {
  content: "\e90c";
}
.icon-rule:before {
  content: "\e90d";
}
.icon-unstart:before {
  content: "\e90e";
}
.icon-star:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-delete:before {
  content: "\e911";
}
.icon-together:before {
  content: "\e912";
}
.icon-link:before {
  content: "\e913";
}
.icon-down:before {
  content: "\e914";
}
.icon-back:before {
  content: "\e915";
}
