@value colors: "./base.css";
@value main-color-hover-blue from colors;
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    color: main-color-hover-blue;
}

* {
    font-family: "Microsoft Yahei", Arial, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background: #E2E5EC;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

input[type="checkbox"] {
    border: 1px solid #aaa;
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:checked {
    background: url(../img/check.png) center no-repeat;
    background-size: 12px;
}

input[type="checkbox"]:disabled {
    background-color: #eee;
    border: none;
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

select,
input {
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    background: none;
}

button {
    border: none;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.eot) format('embedded-opentype'), url(../fonts/icomoon.woff) format('woff'), url(../fonts/icomoon.ttf) format('truetype'), url(../fonts/icomoon.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.eot) format('embedded-opentype'), url(../fonts/icomoon.woff) format('woff'), url(../fonts/icomoon.ttf) format('truetype'), url(../fonts/icomoon.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.global-modal {
    padding: 20px;
}

.global-modal .page {
    border: 0 !important;
}

.global-modal-pure .page {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.global-modal-pure .page .p,
.global-modal-pure p {
    font-size: 13px;
    line-height: 2;
    padding: 5px 0;
    text-indent: 2em;
}
